:root   {

    /*  COLORS:
     replace these colors as needed,
     make sure that the '# ;' part is included!   */

    --brand-primary-darkest:
        #08131E;

    --brand-primary-dark:
        #08182A;

    --brand-primary:
        #0C2440;

    --brand-primary-light:
        #214570;

    --brand-secondary-dark:
        #A78308;

    --brand-secondary:
        #CFA926;

    --brand-secondary-light:
        #FDFCF9;

    --brand-grey-darkest:
        #2E2529;

    --brand-grey-dark:
        #707070;

    --brand-grey:
        #8F8F8F;

    --brand-grey-dim:
        #BFBFBF;

    --brand-grey-light:
        #F4F4F4;

    --brand-focus:
        #175BAA;

    --brand-focus-light:
        #F1F7FC;

    --brand-alert:
        #CF263D;

    --brand-status-danger:
        #FF2357;

    --brand-status-caution:
        #FFAE23;

    --brand-status-good:
        #29FF85;
}