@import '../../css/lib/include-media';    $breakpoints: (small:820px,between:1130px,mid:1300px);    //  @include media('<small'){    }

:host   {   display:block;  }
@include media('<small'){
    :host   {
        display:none;
        width:100%;
            // ideally, this forces content to reflow after the image finishes loading, so the layout stays consistent
        float:left;
        clear:both;
    }
    :host([mobilestate="MONITORS"])    {   display:block;   }
}

#group-list {
    position:static;
    width:630px;
    overflow-y:auto;
    overflow-x:hidden;
    width:100%;

    @include media('<small'){
        padding-bottom:70px;
    }
    &>li  {
        height:86px;
        a   {
            display:flex;
            padding:calc(var(--ggutter) * 2) calc(var(--ggutter) * 4);
            @include media('<1135px'){
                padding:calc(var(--ggutter) * 2);
            }
            span    {
                display:block;
                font-weight:bold;
                flex: 1 0 auto;
            }
            ol  {
                display:flex;
                flex: 0 1 auto;
                &>li  {
                    margin-left:var(--ggutter);
                }
            }
        }

        &:hover    {
            a   {
                background:var(--brand-focus-light);
            }                
        }

        &.active    {
            a   {
                color:white;
                background:var(--brand-focus);
                aside  {
                    display:none;
                }
            }                
        }
    }
}