@import '../css/lib/_include-media.scss';
$breakpoints: (small:820px);

#login-container    {
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    width:100%;
    height:100%;
    background-color: var(--brand-primary);
    color: #bfbfbf;
}

#login-form    {
    width:300px;

    legend  {
        text-align:center;
        width:100%;
        padding-bottom:50px;

        @at-root #logo-link>img  {
            max-width:100px;
            max-height:100px;
            width:100px;
            height:100px;
            object-fit: fill;
        }
    }

    .formElements {
        >li {
            position:relative;
            margin-bottom:var(--ggutter);
        }
    }

    input, button   {
        font-size:inherit;
    }

    input, button:not(#forgot-password)   {
        width:100%;
        border-radius: 3px;
    }

    input[type="text"], input[type="password"]   {
        box-sizing: border-box;
        padding:var(--ggutter);
        border: 2px solid var(--brand-primary-darkest);
        background-color: var(--brand-primary-dark);
        box-shadow: inset 0px -3px 0px 0px var(--brand-secondary);
        color:white;
        caret-color:var(--brand-secondary);

        &+label {
            position:absolute;
            top:0px;
            left:0px;
            padding:var(--ggutter);
            pointer-events: none;

            transition: padding-top .25s, font-size .25s;
        }

        &:focus+label, &:valid+label {
            font-size:1.3rem;
            padding-top:0px;
            margin-top:-2px;
        }

        &.validated:invalid, &.invalid    {
            padding-bottom:calc(var(--ggutter) / 2);
            box-shadow: none;
            background-color:#2A0816;
            border-color:#1C050E;
            caret-color:var(--brand-alert);

            &+label {
                color:var(--brand-alert);
            }

            &:invalid ~ .invalid-empty    { //  clientside reports no value
                display:block;
            }

            &.invalid ~ .invalid-login    { //  serverside reports wrong login
                display:block;
            }
        }
    }

    .invalid-note  {
        display:none;
        padding:var(--ggutter) var(--ggutter) calc(var(--ggutter) / 2) calc(var(--ggutter) * 1.5);
        background-color:var(--brand-alert);
        color:white;
    }

    &.invalid-login .invalid-login {
        display: block;
    }

    .form-tooltip-container {
        &>summary {
            list-style:none;
            &::before
            &::-webkit-details-marker   {
                display:none !important;
            }
        }
        .form-tooltip-content   {
            position:absolute;
            z-index:2;
            left:-50%;
            width:140%;
            margin-top:var(--ggutter);
            padding:calc(var(--ggutter) * 2);
            background-color:white;
            border-radius: 3px;
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,.16);
            color:#707070;
            strong  {
                font-weight:bold;
                line-height:2em;
            }
            &::before    {  //  the arrow of the speech bubble
                content:"◢◣";
                position:absolute;
                top:calc(var(--ggutter) * -1);
                left:50%;
                letter-spacing:-3px;
                color:white;
            }

            @include media('<small'){
                box-sizing: border-box;
                left:0px;
                bottom:calc(var(--ggutter) + 2.2rem);
                width:100%;
                padding:var(--ggutter);

                &::before    {  //  the arrow of the speech bubble
                    content:"◥◤";
                    position:absolute;
                    top:unset;
                    bottom:calc(var(--ggutter) * -1);
                    left:25%;
                    letter-spacing:-3px;
                    color:white;
                }
            }
        }
        .detailsOverlay {
            @include media('<small'){
                position:fixed;
                z-index:999;
                top:0px;
                left:0px;
                width:100%;
                height:100%;
                cursor:auto;
                background:rgba(255,0,0,0);
            }
        }
    }

    button[type="submit"] {
        margin-top:var(--ggutter);
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.41);
        background-color: var(--brand-secondary);
        color: white;
        padding: var(--ggutter);
    }
}