@charset "UTF-8";
#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--brand-primary);
  color: #bfbfbf; }

#login-form {
  width: 300px; }
  #login-form legend {
    text-align: center;
    width: 100%;
    padding-bottom: 50px; }
    #logo-link > img {
      max-width: 100px;
      max-height: 100px;
      width: 100px;
      height: 100px;
      -o-object-fit: fill;
         object-fit: fill; }
  #login-form .formElements > li {
    position: relative;
    margin-bottom: var(--ggutter); }
  #login-form input, #login-form button {
    font-size: inherit; }
  #login-form input, #login-form button:not(#forgot-password) {
    width: 100%;
    border-radius: 3px; }
  #login-form input[type="text"], #login-form input[type="password"] {
    box-sizing: border-box;
    padding: var(--ggutter);
    border: 2px solid var(--brand-primary-darkest);
    background-color: var(--brand-primary-dark);
    box-shadow: inset 0px -3px 0px 0px var(--brand-secondary);
    color: white;
    caret-color: var(--brand-secondary); }
    #login-form input[type="text"] + label, #login-form input[type="password"] + label {
      position: absolute;
      top: 0px;
      left: 0px;
      padding: var(--ggutter);
      pointer-events: none;
      transition: padding-top .25s, font-size .25s; }
    #login-form input[type="text"]:focus + label, #login-form input[type="text"]:valid + label, #login-form input[type="password"]:focus + label, #login-form input[type="password"]:valid + label {
      font-size: 1.3rem;
      padding-top: 0px;
      margin-top: -2px; }
    #login-form input[type="text"].validated:invalid, #login-form input[type="text"].invalid, #login-form input[type="password"].validated:invalid, #login-form input[type="password"].invalid {
      padding-bottom: calc(var(--ggutter) / 2);
      box-shadow: none;
      background-color: #2A0816;
      border-color: #1C050E;
      caret-color: var(--brand-alert); }
      #login-form input[type="text"].validated:invalid + label, #login-form input[type="text"].invalid + label, #login-form input[type="password"].validated:invalid + label, #login-form input[type="password"].invalid + label {
        color: var(--brand-alert); }
      #login-form input[type="text"].validated:invalid:invalid ~ .invalid-empty, #login-form input[type="text"].invalid:invalid ~ .invalid-empty, #login-form input[type="password"].validated:invalid:invalid ~ .invalid-empty, #login-form input[type="password"].invalid:invalid ~ .invalid-empty {
        display: block; }
      #login-form input[type="text"].validated:invalid.invalid ~ .invalid-login, #login-form input[type="text"].invalid.invalid ~ .invalid-login, #login-form input[type="password"].validated:invalid.invalid ~ .invalid-login, #login-form input[type="password"].invalid.invalid ~ .invalid-login {
        display: block; }
  #login-form .invalid-note {
    display: none;
    padding: var(--ggutter) var(--ggutter) calc(var(--ggutter) / 2) calc(var(--ggutter) * 1.5);
    background-color: var(--brand-alert);
    color: white; }
  #login-form.invalid-login .invalid-login {
    display: block; }
  #login-form .form-tooltip-container > summary {
    list-style: none; }
    #login-form .form-tooltip-container > summary::before #login-form .form-tooltip-container > summary::-webkit-details-marker {
      display: none !important; }
  #login-form .form-tooltip-container .form-tooltip-content {
    position: absolute;
    z-index: 2;
    left: -50%;
    width: 140%;
    margin-top: var(--ggutter);
    padding: calc(var(--ggutter) * 2);
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    color: #707070; }
    #login-form .form-tooltip-container .form-tooltip-content strong {
      font-weight: bold;
      line-height: 2em; }
    #login-form .form-tooltip-container .form-tooltip-content::before {
      content: "◢◣";
      position: absolute;
      top: calc(var(--ggutter) * -1);
      left: 50%;
      letter-spacing: -3px;
      color: white; }
    @media (max-width: 819px) {
      #login-form .form-tooltip-container .form-tooltip-content {
        box-sizing: border-box;
        left: 0px;
        bottom: calc(var(--ggutter) + 2.2rem);
        width: 100%;
        padding: var(--ggutter); }
        #login-form .form-tooltip-container .form-tooltip-content::before {
          content: "◥◤";
          position: absolute;
          top: unset;
          bottom: calc(var(--ggutter) * -1);
          left: 25%;
          letter-spacing: -3px;
          color: white; } }
  @media (max-width: 819px) {
    #login-form .form-tooltip-container .detailsOverlay {
      position: fixed;
      z-index: 999;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      cursor: auto;
      background: rgba(255, 0, 0, 0); } }
  #login-form button[type="submit"] {
    margin-top: var(--ggutter);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.41);
    background-color: var(--brand-secondary);
    color: white;
    padding: var(--ggutter); }
