@media (max-width: 819px) {
  :host {
    display: none; }
  :host([mobilestate="FILTERS"]) {
    display: block; } }

#sources-topbar {
  position: fixed;
  z-index: 999;
  top: 84px;
  left: 0px;
  display: flex;
  align-items: stretch;
  width: calc(100vw - var(--sidebar-width));
  height: 84px;
  color: var(--brand-grey-dark);
  background-color: var(--brand-grey-light); }

@media (min-width: 820px) and (max-width: 1129px) {
  #sources-topbar {
    width: 460px; } }
  @media (max-width: 819px) {
    #sources-topbar {
      display: block;
      box-sizing: border-box;
      position: absolute;
      z-index: 1024;
      top: 0px;
      left: 0px;
      width: 100%;
      min-height: 100vh;
      height: auto;
      padding: 24px;
      background: var(--brand-primary); } }
  #mobile-modal {
    display: none; }
    @media (max-width: 819px) {
      #mobile-modal {
        display: block; }
        #mobile-modal > h1 {
          margin-top: 96px;
          color: white;
          font-size: 3.6rem;
          margin-left: 0px;
          font-weight: normal; }
        #closebtn {
          display: flex;
          justify-content: center;
          align-content: center;
          position: absolute;
          top: 30px;
          right: 30px;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background: var(--brand-grey-dim); } }
  #sources-view-toggle-link {
    display: block;
    box-sizing: border-box;
    padding: calc(var(--ggutter) * 2);
    flex: 0 1 auto; }
    @media (max-width: 819px) {
      #sources-view-toggle-link {
        display: none; } }
    #sources-view-toggle-link img {
      display: block;
      float: left; }
    #sources-view-toggle-link span {
      display: block;
      float: left;
      margin-left: var(--ggutter);
      margin-top: 2px; }
  #sources-form {
    display: flex;
    align-items: stretch;
    flex: 1 0 auto; }
    @media (max-width: 819px) {
      #sources-form {
        display: block;
        margin-top: calc(var(--ggutter) * 3); } }
    #combobox-search-fields {
      display: flex;
      align-items: stretch;
      flex: 1 0 auto;
      margin-top: 20px; }
      #combobox-search-fields .legend-wrapper {
        flex: 0 1 auto; }
        @media (max-width: 1359px) {
          #combobox-search-fields .legend-wrapper {
            display: none; } }
        #combobox-search-fields .legend-wrapper legend {
          float: left; }
          #combobox-search-fields .legend-wrapper legend img {
            margin-top: 10px;
            padding: 0px var(--ggutter);
            display: block; }
      #combobox-container {
        display: flex;
        flex: 1 0 auto; }
        @media (max-width: 819px) {
          #combobox-container {
            display: block; } }
        #combobox-input-container {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          flex: 1 0 auto;
          height: 48px; }
          @media (max-width: 819px) {
            #combobox-input-container {
              height: auto; } }
          #combobox-input-container lit-route {
            display: block;
            width: 100%; }
          #cameraSearchSubmit {
            display: none;
            width: 100%;
            margin-top: var(--ggutter);
            padding: var(--ggutter);
            border-radius: 3px;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.41);
            text-align: center;
            cursor: pointer;
            background-color: var(--brand-secondary);
            color: white; }
            @media (max-width: 819px) {
              #cameraSearchSubmit {
                display: block; } }
          #combobox-input-container input[type=search] {
            flex: 0 1 100%;
            width: 100%;
            height: 48px;
            padding: var(--ggutter);
            border-width: 0px;
            border-radius: 3px 0px 0px 3px;
            font-size: inherit;
            -webkit-appearance: none;
            outline-offset: -2px;
            margin: 0px; }
            @media (max-width: 819px) {
              #combobox-input-container input[type=search] {
                border-radius: 3px;
                box-sizing: border-box;
                height: 56px;
                border: 2px solid var(--brand-primary-darkest);
                background-color: var(--brand-primary-dark);
                box-shadow: inset 0px -3px 0px 0px var(--brand-secondary);
                color: white;
                caret-color: var(--brand-secondary); } }
            #combobox-input-container input[type=search]::-webkit-search-decoration {
              -webkit-appearance: none; }
            #combobox-input-container input[type=search] + label {
              position: absolute;
              top: -2px;
              left: 0px;
              box-sizing: border-box;
              flex: 0 1 100%;
              height: 48px;
              padding: var(--ggutter);
              pointer-events: none;
              color: var(--brand-grey-dim);
              transition: padding-top .25s, font-size .25s; }
            #combobox-input-container input[type=search]:focus + label, #combobox-input-container input[type=search]:valid + label {
              font-size: 1.3rem;
              padding-top: 0px;
              top: -4px; }
        #geosearch-results {
          display: block;
          width: 100%;
          position: absolute;
          top: 50px;
          z-index: 999;
          background: white;
          border-width: 0px 1px;
          border-color: var(--brand-grey-light);
          border-style: solid; }
          #geosearch-results > li > button {
            padding: .5em;
            border-bottom: 1px solid var(--brand-grey-light);
            cursor: pointer;
            text-align: left;
            background: inherit;
            border: 0px;
            width: 100%;
            display: block; }
          @media (max-width: 819px) {
            #geosearch-results {
              position: relative;
              top: 0px; } }
        #combobox-location-selector {
          position: relative;
          flex: 0 1 auto; }
          #combobox-location-selector > summary {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            width: 48px;
            border-color: var(--brand-grey-light);
            border-width: 0px 0px 0px 1px;
            border-radius: 0px 3px 3px 0px;
            border-left: 1px solid var(--brand-grey-light);
            background: white; }
            #combobox-location-selector > summary > span {
              display: none; }
            #combobox-location-selector > summary > img {
              order: 1; }
            @media (max-width: 819px) {
              #combobox-location-selector > summary {
                box-sizing: border-box;
                justify-content: left;
                width: 100%;
                min-height: 1em;
                padding: var(--ggutter);
                margin-top: var(--ggutter);
                border: 0px;
                border-radius: unset;
                color: var(--brand-grey-dim);
                background: url("/img/icon-area-fill.svg") no-repeat left calc(var(--ggutter) + 5px) center;
                background-size: 20px; }
                #combobox-location-selector > summary > span {
                  flex: 1 1 100%;
                  order: 1;
                  display: block;
                  padding-left: 60px; }
                #combobox-location-selector > summary > img {
                  flex: 0 0 auto;
                  order: 2; } }
            #combobox-location-selector > summary:not(:root:root) {
              text-align: center; }
              #combobox-location-selector > summary:not(:root:root) > img {
                display: inline-block;
                width: 100%;
                height: 100%;
                -o-object-fit: scale-down;
                   object-fit: scale-down; }
              @media (max-width: 819px) {
                #combobox-location-selector > summary:not(:root:root) {
                  text-align: left;
                  margin-top: 0px; }
                  #combobox-location-selector > summary:not(:root:root) > span {
                    background: url("/img/icon-caret-fill.svg") no-repeat right center;
                    background-size: 16px 8px; }
                  #combobox-location-selector > summary:not(:root:root) > img {
                    display: none; } }
          #combobox-location-selector > .details-content {
            position: absolute;
            right: 0px;
            width: 200px;
            background: var(--brand-grey-light);
            padding: calc(var(--ggutter) * 2);
            padding-bottom: var(--ggutter); }
            #combobox-location-selector > .details-content strong {
              font-weight: bold;
              color: var(--brand-grey-darkest);
              margin: var(--ggutter) 0px; }
            #combobox-location-selector > .details-content ul {
              margin-top: var(--ggutter); }
              #combobox-location-selector > .details-content ul li button {
                width: 100%;
                padding: var(--ggutter) 0px;
                text-align: left;
                cursor: pointer; }
            @media (max-width: 819px) {
              #combobox-location-selector > .details-content {
                position: relative;
                box-sizing: border-box;
                right: unset;
                left: 0px;
                width: 100%;
                padding: var(--ggutter); }
                #combobox-location-selector > .details-content strong {
                  display: none; }
                #combobox-location-selector > .details-content ul {
                  margin-top: 0px;
                  margin-left: 60px; } }
    #filter-search-fields {
      flex: 0 1 auto; }
      #filter-search-fields details > summary {
        display: block;
        box-sizing: border-box;
        padding: calc(var(--ggutter) * 2) var(--ggutter);
        flex: 0 1 auto; }
        @media (max-width: 819px) {
          #filter-search-fields details > summary {
            height: 48px;
            padding: var(--ggutter);
            background: url("/img/icon-caret-fill.svg") no-repeat right var(--ggutter) center;
            background-size: 16px 8px; } }
        #filter-search-fields details > summary img {
          display: block;
          float: left; }
          @media (max-width: 819px) {
            #filter-search-fields details > summary img {
              display: none; } }
        #filter-search-fields details > summary span {
          display: block;
          float: left;
          margin-left: var(--ggutter);
          margin-top: 2px; }
          @media (max-width: 819px) {
            #filter-search-fields details > summary span {
              margin: 0px;
              padding-left: 60px;
              background: url("/img/icon-filter-white.svg") no-repeat left center;
              background-size: 28px;
              color: var(--brand-grey-dim); } }
      #filter-search-fields details > .details-content {
        position: absolute;
        right: 0px;
        padding: var(--ggutter) calc(var(--ggutter) * 2);
        background: var(--brand-grey-light);
        width: auto; }
        #filter-search-fields details > .details-content legend {
          font-weight: bold;
          color: var(--brand-grey-darkest);
          margin: var(--ggutter) 0px; }
        #filter-search-fields details > .details-content label {
          display: block;
          padding: var(--ggutter) 0px;
          cursor: pointer; }
          #filter-search-fields details > .details-content label span {
            margin-left: var(--ggutter); }
        @media (max-width: 819px) {
          #filter-search-fields details > .details-content {
            position: relative;
            top: 0px;
            box-sizing: border-box;
            width: 100%; }
            #filter-search-fields details > .details-content legend {
              display: none; } }

@media (min-width: 820px) and (max-width: 1299px) {
  .hide-on-mid {
    display: none !important; } }
