@import '../../css/lib/include-media';    $breakpoints: (small:820px,between:1130px,mid:1300px);    //  @include media('<small'){    }

@include media('<small'){
    :host {   display: none;  }
    :host([mobilestate="FILTERS"]) {   display: block; }
}

#sources-topbar {
    position:fixed;
    z-index:999;
    top:84px;
    left:0px;
    display:flex;
    align-items:stretch;
    width:calc(100vw - var(--sidebar-width));
    height:84px;
    color:var(--brand-grey-dark);
    background-color:var(--brand-grey-light);

    @include media('>=small','<between'){
        width:460px;
    }

    @include media('<small'){
        display: block;
        box-sizing: border-box;
        position: absolute;
        z-index: 1024;
        top: 0px;
        left: 0px;
        width: 100%;
        min-height:100vh;
        height:auto;
        padding: 24px;
        background: var(--brand-primary);
    }

    @at-root #mobile-modal {
        display: none;
        @include media('<small'){
            display: block;
            &>h1 {
                margin-top: 96px;
                color: white;
                font-size: 3.6rem;
                margin-left: 0px;
                font-weight: normal;
            }
            @at-root #closebtn {
                display:flex;
                justify-content: center;
                align-content: center;
                position: absolute;
                top: 30px;
                right: 30px;
                width:36px;
                height:36px;
                border-radius: 50%;
                background:var(--brand-grey-dim);
            }
        }
    }

    @at-root #sources-view-toggle-link  {
        display:block;
        @include media('<small'){   display: none;  }
        box-sizing: border-box;
        padding:calc(var(--ggutter) * 2);
        flex: 0 1 auto;

        img {
            display:block;
            float:left;
        }
        
        span    {
            display:block;
            float:left;
            margin-left:var(--ggutter);
            margin-top:2px;
        }
    }

    @at-root #sources-form  {
        display:flex;
        align-items:stretch;
        flex: 1 0 auto;

        @include media('<small'){
            display: block;
            margin-top:calc(var(--ggutter) * 3)
        }

        @at-root #combobox-search-fields {
            display:flex;
            align-items:stretch;
            flex:1 0 auto;
            margin-top:20px;

            .legend-wrapper  {
                flex:0 1 auto;

                @include media('<1360px') { display:none;   }

                legend  {
                    float:left;
                    img {
                        margin-top:10px;
                        padding: 0px var(--ggutter);
                        display:block;
                    }
                }
            }

            @at-root #combobox-container {
                display:flex;
                flex:1 0 auto;

                @include media('<small'){   display:block;  }

                @at-root #combobox-input-container   {
                    position:relative;
                    display:flex;
                    flex-wrap:wrap;
                    flex: 1 0 auto;
                    height:48px;

                    @include media('<small'){   height:auto;  }

                    lit-route {
                        display:block;
                        width:100%
                    }

                    @at-root #cameraSearchSubmit {
                        display:none;

                        width:100%;
                        margin-top:var(--ggutter);
                        padding: var(--ggutter);

                        border-radius: 3px;
                        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.41);
                        text-align: center;
                        cursor: pointer;

                        background-color: var(--brand-secondary);
                        color: white;

                        @include media('<small'){   display:block;  }
                    }

                    input[type=search]  {
                        flex: 0 1 100%;
                        width:100%;
                        height:48px;
                        padding:var(--ggutter);                                
                        border-width:0px;
                        border-radius: 3px 0px 0px 3px;
                        font-size:inherit;

                        @include media('<small'){
                            border-radius:3px;
                            box-sizing: border-box;
                            height:56px;
                            border: 2px solid var(--brand-primary-darkest);
                            background-color: var(--brand-primary-dark);
                            box-shadow: inset 0px -3px 0px 0px var(--brand-secondary);
                            color:white;
                            caret-color:var(--brand-secondary);
                        }

                              //  SAFRARI
                              -webkit-appearance: none;
                        outline-offset: -2px;
                        margin:0px;
                        &::-webkit-search-decoration {  -webkit-appearance: none;   }

                        &+label {
                            position:absolute;
                            top:-2px;
                            left:0px;
                            box-sizing: border-box;
                            flex: 0 1 100%;
                            height:48px;
                            padding:var(--ggutter);
                            pointer-events:none;
                            color:var(--brand-grey-dim);

                            transition: padding-top .25s, font-size .25s;
                        }

                        &:focus+label, &:valid+label {
                            font-size:1.3rem;
                            padding-top:0px;
                            top:-4px;
                        }
                    }
                }

                @at-root #geosearch-results {
                    display:block;
                    width:100%;
                    position:absolute;
                    top:50px;
                    z-index:999;
                    background:white;
                    border-width:0px 1px;
                    border-color:var(--brand-grey-light);
                    border-style:solid;

                    &>li>button  {
                        padding:.5em;
                        border-bottom:1px solid var(--brand-grey-light);
                        cursor:pointer;
                        text-align: left;
                        background:inherit;
                        border:0px;
                        width:100%;
                        display:block;
                    }

                    @include media('<small'){
                        position:relative;
                        top:0px;
                    }
                }

                @at-root #combobox-location-selector    {
                    position:relative;
                    flex: 0 1 auto;

                    &>summary   {
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        height:48px;
                        width:48px;
                        border-color:var(--brand-grey-light);
                        border-width:0px 0px 0px 1px;
                        border-radius: 0px 3px 3px 0px;
                        border-left:1px solid var(--brand-grey-light);  //  redundant but necessary?
                        background:white;

                        &>span  {   display:none;   }
                        &>img  {   order:1;   }

                        @include media('<small'){
                            box-sizing: border-box;
                            justify-content: left;
                            width:100%;
                            min-height:1em;
                            padding:var(--ggutter);
                            margin-top:var(--ggutter);
                            border:0px;
                            border-radius: unset;
                            color:var(--brand-grey-dim);
                            background:url('/img/icon-area-fill.svg') no-repeat left calc(var(--ggutter) + 5px) center;
                            background-size: 20px;
                            &>span  {
                                flex:1 1 100%;
                                order:1;
                                display:block;
                                padding-left:60px;
                            }
                            &>img   {
                                flex:0 0 auto;
                                order:2;
                            }
                        }

                        &:not(:root:root){    //  SAFRARIIIIIII
                            text-align:center;
                            &>img {
                                display:inline-block;
                                width:100%;
                                height:100%;
                                object-fit: scale-down;
                            }
                            @include media('<small'){
                                text-align:left;
                                margin-top:0px;
                                &>span  {
                                    background:url('/img/icon-caret-fill.svg') no-repeat right center;
                                    background-size: 16px 8px;
                                }
                                &>img   {
                                    display:none;
                                }
                            }
                        }
                    }

                    &>.details-content {
                        position:absolute;
                        right:0px;
                        width:200px;
                        background:var(--brand-grey-light);
                        padding:calc(var(--ggutter) * 2);
                        padding-bottom:var(--ggutter);

                        strong  {
                            font-weight:bold;
                            color:var(--brand-grey-darkest);
                            margin:var(--ggutter) 0px;
                        }

                        ul  {
                            margin-top:var(--ggutter);
                            li  {
                                button  {
                                    width:100%;
                                    padding:var(--ggutter) 0px;
                                    text-align:left;
                                    cursor:pointer;
                                }
                            }
                        }

                        @include media('<small'){
                            position:relative;
                            box-sizing: border-box;
                            right:unset;
                            left:0px;
                            width:100%;
                            padding:var(--ggutter);
                            
                            strong  {   display:none;   }

                            ul  {
                                margin-top:0px;
                                margin-left:60px;
                            }
                        }
                    }
                }
            }
        }

        @at-root #filter-search-fields {
            flex: 0 1 auto;

            details {
                &>summary   {
                    display:block;
                    box-sizing: border-box;
                    padding:calc(var(--ggutter) * 2) var(--ggutter);
                    flex: 0 1 auto;

                    @include media('<small'){
                        height:48px;
                        padding: var(--ggutter);
                        background:url('/img/icon-caret-fill.svg') no-repeat right var(--ggutter) center;
                        background-size:16px 8px;
                    }

                    img {
                        display:block;
                        float:left;
                        @include media('<small'){   display:none;   }
                    }
                    
                    span    {
                        display:block;
                        float:left;
                        margin-left:var(--ggutter);
                        margin-top:2px;

                        @include media('<small'){
                            margin:0px;
                            padding-left:60px;
                            background:url('/img/icon-filter-white.svg') no-repeat left center;
                            background-size:28px;
                            color:var(--brand-grey-dim);
                        }
                    }
                }

                &>.details-content {
                    position:absolute;                    
                    right:0px;
                    padding:var(--ggutter) calc(var(--ggutter) * 2);
                    background:var(--brand-grey-light);
                    width:auto;

                    legend  {
                        font-weight:bold;
                        color:var(--brand-grey-darkest);
                        margin:var(--ggutter) 0px;
                    }

                    label   {
                        display:block;
                        padding:var(--ggutter) 0px;
                        cursor: pointer;

                        span    {
                            margin-left:var(--ggutter);
                        }
                    }

                    @include media('<small'){
                        position:relative;
                        top:0px;
                        box-sizing: border-box;
                        width:100%;

                        legend  {
                            display:none;
                        }
                    }
                }
            }
        }
    }
}

@include media('>=small','<mid'){
    .hide-on-mid    {   display:none !important;   }
}