﻿@import '../../css/lib/include-media';    $breakpoints: (small:820px,between:1130px,mid:1300px);    //  @include media('<small'){    }

#sources-view-map {
    position:fixed;
    top:84px;
    left:0px;
    width:calc(100vw - var(--sidebar-width));
    min-width:460px;
    height:calc(100vh - 84px);
    @include media('<small'){
        display: none;
        &.mobile-show { display: block; }
        position:unset;
        top:unset;
        left:unset;
        width:100%;
        min-width:auto;
        height:calc(100vw - 70px - 60px - var(--mobileMapOffset));
        max-height:100vh;
        min-height:1px;
    }
}

#map-container {
    margin-top:84px;
    width: 100%;
    height: calc(100% - 84px);

    @include media('<small'){
        margin-top:0px;
        height:100%;
    }
}

    //  leafy things

.leaflet-custom-marker  {
    box-sizing: border-box;
    background-size: 20px 14px;
    background-position: center 10px;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-color:var(--brand-grey-dark);

    &.irisx-casted  {   background-color: var(--brand-focus); }
    &.irisx-active  {
        border:4px solid var(--brand-secondary);
        background-color: var(--brand-focus);
        background-position:center 6px;
    }
}
.leaflet-custom-marker.type-HOOSIERHELPER  {   background-image:url('img/icon-truck.svg');   }
.leaflet-custom-marker.type-CCTV  {   background-image:url('img/icon-camera-fill-solid.svg');   }

.leaflet-custom-marker::after  {
    position:absolute;
    top:-2px;
    right:-2px;
    width:10px;
    height:10px;
    content:'';
    z-index:100;
    border-radius:5px;
}
.leaflet-custom-marker.status-PUBLISHED::after  {   background-color:#29FF85;   }
.leaflet-custom-marker.status-PUBLISHED_VIDEO_LOSS::after  {   background-color:#FFAE23;   }
.leaflet-custom-marker.status-UNPUBLISHED::after  {   background-color:#FF2357;   }

.popup-content .camera-popup-status  {
    display:block;
    float:right;
    width:1em;
    height:1em;
    margin-top:5px;
    content:'';
    border-radius:.5em;
}
.popup-content.status-PUBLISHED .camera-popup-status  {   background-color:#29FF85;   }
.popup-content.status-PUBLISHED_VIDEO_LOSS .camera-popup-status  {   background-color:#FFAE23;   }
.popup-content.status-UNPUBLISHED .camera-popup-status  {   background-color:#FF2357;   }

.leaflet-container a.leaflet-popup-close-button {
    padding: 8px;
}

#map-container  {
    .leaflet-control-attribution    {   visibility: hidden; }
    &.map-ready .leaflet-control-attribution {   visibility: visible;    }
}
