@import '../../css/lib/include-media';    $breakpoints: (small:820px,between:1130px,mid:1300px);    //  @include media('<small'){    }

#sources-view-table {
    position:absolute;
    z-index:1;
    top:calc(84px + 84px);
    left:0px;
    width:calc(100vw - var(--sidebar-width));
    height:calc(100vh - 84px - 84px);
    overflow-x:hidden;
    overflow-y: auto;

    @include media('>=small','<between'){
        width:460px;
    }

    @include media('<small'){
        position:static;
        top:unset;
        left:unset;
        width:100%;
        height:unset;
        overflow-y: hidden;
    }
}

ag-grid-polymer {
    width: 100%;
    @include media('<small'){
        width:100vw;
        overflow-x:hidden;
    }
}

/*  hack apart the material theme   */

.ag-body-viewport.ag-layout-auto-height {
    overflow-x:hidden;
}

.ag-theme-material .ag-row  {
    cursor:pointer;
    &.irisx-casted  {   background-color: var(--brand-focus-light); }
    &.irisx-active  {
        color:white;
        background-color: var(--brand-focus);
    }
}

.ag-theme-material .ag-cell {
    outline:none !important;    // no more per-cell focus style
}

.ag-theme-material,
.ag-theme-material .ag-header {
    font: inherit;
    color: var(--brand-grey-dark);
}

.ag-theme-material .ag-header-cell,
.ag-theme-material .ag-header-group-cell {
    line-height: 2.2rem;
}

.ag-theme-material .ag-header-cell[col-id="status"] .ag-header-cell-label .ag-header-cell-text,
.ag-theme-material .ag-header-cell[col-id="id"] .ag-header-cell-label .ag-header-cell-text {
    width: 100%;
    text-align: center;
}

.ag-theme-material .ag-header-cell-label {
    cursor: pointer;
    width: 100%;
}

.ag-theme-material .ag-header-cell-label .ag-header-cell-text {
    padding: var(--ggutter) 0px;
    height: 2.2rem;
    font-weight: bold;
}

.ag-icon.ag-icon-asc,
.ag-icon.ag-icon-desc {
    background-image: url('img/icon-caret-fill.svg');
    background-size: 15px 9px;
}

.ag-icon.ag-icon-asc {
    transform: rotate(180deg);
}

.ag-theme-material .ag-cell {
    padding: calc(var(--ggutter) * 2) var(--ggutter);
    @include media('<mid'){
        padding:var(--ggutter);
    }
}

.list-icon {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0px auto;

    &>span  {
        display:block;
        width:40px;
        height:40px;
        border-radius: 50%;
        background-color:var(--brand-grey-dark);
        &.casted    {   background-color:var(--brand-focus);    }
        &.active, &.active.casted   {   background-color:var(--brand-secondary) }

        text-align: center;
        &>img   {
            display:inline-block;
        }
    }

    &>span::after  {
        content:'';
        position:absolute;
        top:-4px;
        right:-4px;
        width:18px;
        height:18px;
        z-index:100;
        border-radius:9px;
    }
    &.status-PUBLISHED>span::after  {   background-color:#29FF85;   }
    &.status-PUBLISHED_VIDEO_LOSS>span::after  {   background-color:#FFAE23;   }
    &.status-UNPUBLISHED>span::after  {   background-color:#FF2357;   }
}

/*  pagination  */

#pagination {
    visibility: hidden;
    &.show  {   visibility:visible;  }
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding-right: var(--ggutter);
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    color: var(--brand-grey-dark);

    nav button {
        margin-left: calc(var(--ggutter) / 2);
        &[disabled] {
            opacity: .5;
        }
    }

    details {
        position: relative;
        .details-content {
            position: absolute;
            z-index: 4;
            bottom: 3rem;
            left: 0px;
            width: 120px;
            box-sizing: border-box;
            padding: calc(var(--ggutter) * 2);
            border-radius: 3px;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
            background: var(--brand-grey-light);

            @at-root #pageSizeOptions{
                li {
                    margin-top: 1em;
                    text-align: center;
                }
                input[type=radio] {
                    display: none;
                    &~span {
                        cursor: pointer;
                    }
                    :checked~span {
                        font-weight: normal;
                        cursor: auto;
                    }
                }
            }
        }
    } 
}

#lastPage>img {
    transform: scaleX(-1);
}

@include media('<mid'){    
    .ag-header-cell[col-id="status"] .ag-header-cell-label {
        visibility: hidden;
    }
}

@include media('<small'){
    #sources-view-table {
        display: none;
        &.mobile-show {
            display: block;
        }
    }
    
    #pagination {
        display:block;
        position:relative;
        &>nav   {
            box-sizing: border-box;
            width:100%;
            height:66px;
            padding:var(--ggutter);

            @at-root #lastPage  {
                float:left;
            }
            @at-root #nextPage  {
                float:right;
            }
        }
        &>details {
            display: block;
            position:absolute;
            left:80px;
            right:80px;
            height:66px;
            line-height:66px;
            text-align: center;
            .details-content {
                width:100%;
                @at-root #pageSizeOptions{
                    li {
                        margin-top:.5em;
                    }
                }
            }
        }
    }
}