@import '../css/lib/include-media';    $breakpoints: (small:820px,mid:1300px);    //  @include media('<small'){    }

#topbar {
    width: 100vw;
    height: 84px;
    position:fixed;
    z-index:1024;
    top:0px;
    left:0px;
    font-weight: lighter;
    color: white;
    background-color: var(--brand-primary);
    @include media('<small'){
        display:flex;
        justify-content:space-between;
        align-items:stretch;
        height: 70px;
    }

    @at-root #page-title    {
        flex:1 1 100%;
        width:100%;
        line-height:70px;
        font-weight:bold;
        letter-spacing:2px;
        text-align:center;
        color:var(--brand-secondary);

        display:none;
        @include media('<small'){   display: block;   }
    }

    @at-root #logo-link {
        height: 100%;

        float: left;
        @include media('<small'){
            flex:0 0 auto;
            float: none;
        }
        
        a {
            display: block;
            padding: calc(var(--ggutter) / 2) calc(var(--ggutter) * 2);
            @include media('<small'){   padding: 12px;   }
            img {
                object-fit: fill;
                @include media('<small'){
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }

    @at-root #menu-container {
        width: 100%;
        @include media('<small'){
            flex:0 0 auto;
            width:auto;
            float:none;
        }
        &>summary {
            position: absolute;
            z-index:1050;
            top: 18px;
            right: 18px;
    
            display: none;
            width:36px;
            height:36px;

            @include media('<small'){
                display: block;
                position:static;
                padding:0px 18px;
                height:100%;
            }
    
            &>span  { display:none;   }
    
            background:url('/img/icon-hamburger-fill.svg') no-repeat center center;
            background-size:36px;
        }
        &[open]>summary {   background-image:url('/img/icon-hamburger-fill - gold.svg'); }
        &>.details-content {
            z-index:1050;
            height: inherit;
            ul {
                height: 84px;
                li {
                    height: 100%;
                    a {
                        display: flex;
                        flex-direction:column;
                        align-items:center;
                        height: 100%;
                        
                        padding: 0px var(--ggutter);     
                        text-decoration: inherit;
                        color: inherit;
    
                        &>div   {
                            flex:0 0 36px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width:36px;
                            height:36px;
                            margin-top: var(--ggutter);
                            border-radius:50%;
                            background-color:var(--brand-grey-dim);
                            img {   display:block;  }
                        }
    
                        span {
                            flex:0 1 100%;
                            margin-top:4px;
                        }
                    }
                    &.active a  {
                        background-color: var(--brand-primary-dark);
                        color: var(--brand-secondary);
                        &>div {   background-color:var(--brand-secondary);    }
                    }
                }
                &.left-links {
                    float: left;
                    li {
                        float: left;
                        margin-left: var(--ggutter);
                    }
                }
                &.right-links {
                    float: right;
                    li {
                        float: right;
                        margin-right: var(--ggutter);
                    }
                    @at-root #signout-link   {
                        &>div   {
                            background-color:var(--brand-primary-dark) !important;
                            border-radius:50% !important;
                            padding:0px !important;
                        }
                        &>span {
                            color: var(--brand-secondary);
                        }
                    }
                }
            }
        }
    }
}

@include media('<small') {
    #menu-container{
        &>.details-content {
            position: absolute;
            z-index: 10;
            top: 70px;
            left: 0px;
            width: 100%;
            background-color: var(--brand-primary);
            ul {
                height: auto;
                &.left-links, &.right-links {
                    float: none;
                    clear: both;
                    li  {
                        display: block;
                        width: 100%;
                        float: none;
                        clear: both;
                        margin: 0px;
                        text-align: unset;
                        a   {
                            display: flex;
                            flex-direction:row;
                            align-items: center;
                            padding: 0px 0px var(--ggutter) var(--ggutter);
                            &>div>img {
                                display: inline-block;
                            }
                            span    {
                                margin-top: 10px;
                                display: inline-block;
                                text-indent: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}